$black: #000;
$white: #fafafa;
$grey: grey;
$red: red;
$green: #67bd3e;
$blue: blue;
$lightestblue: #F4F8FB;
$lightblue: #d3e6f7;
$mediumblue: #478dc9;
$darkblue: #002a63;
$orange: #ff9b05;

///

$body_background_color: $white;
$body_background_image: none;

$headline-font: "Arial Black", Gadget, sans-serif;
$headline-weight: 700;

$body-font: "dinlight", Arial, Helvetica, sans-serif;
$body-weight: 300;
$body-text-color: $black;

$cursive-font: "rocksalt", cursive;
